#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#lights canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  object-fit: cover;
}

